<app-formarraycomponent></app-formarraycomponent>


<signup-form></signup-form>



<app-favourite [is-favourite]="post.isFavourite" (change)="onFavouriteChange($event)"></app-favourite>


<bootstrap-panel>
    <ng-container class="heading">
        <h1>Heading</h1>
    </ng-container>
    <div class="body">
        <h2>Body Block</h2>
        <p>
            This is the body block...
        </p>
    </div>
</bootstrap-panel>

<button (click)="loadCourses()">Load Courses</button>

<ul>
    <li *ngFor="let course of courses; trackBy: trackCourse">
        {{ course.name }} <button (click)="removeCourse(course)">Remove</button>
    </li>
</ul>

<input type="text" appInputFormat="'uppercase'">



<app-contact-form></app-contact-form>


